* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 10pt;
  line-height: 1.5em;
  background-color: #f1f1f1;
  max-width: 500px;
  margin: auto;
  margin-bottom: 0.5em; }

section {
  background-color: #fcfcfc;
  margin: 0.5em 0.5em 0 0.5em;
  padding: 2em 0.2em 2em 0.2em;
  border-bottom: 0.1em solid lightgray;
  border-right: 0.1em solid #e2e2e2; }

section.title {
  height: 6em;
  overflow: hidden;
  cursor: pointer; }

section.title.open {
  height: auto; }

section.title a,
section.title a:link,
section.title a:visited,
section.title a:active,
section.title a:hover,
section.title a:focus {
  text-decoration: none;
  color: #fcfcfc; }

section.title.open a,
section.title.open a:link,
section.title.open a:visited,
section.title.open a:active {
  color: #999; }

section.title.open a:hover,
section.title.open a:focus {
  color: #666; }

nav ul li {
  margin-top: 1.2em;
  color: #fcfcfc; }

h1 {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 800; }

svg#down-arrow {
  width: 1em;
  position: relative;
  top: 0.15em; }

svg#trophy {
  width: 1.5em;
  margin-right: 0.2em;
  position: relative;
  top: 0.3em;
  fill: #f39c12; }

h2 {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-weight: 800; }

section.trophy-cabinet {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.trophy-cabinet h3 {
  position: relative;
  top: -0.3em;
  display: inline-block;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
  width: 25%; }

section.capinfo {
  padding: 0; }

ul.team-cap {
  display: flex;
  justify-content: space-around;
  padding: 0.6em;
  text-transform: uppercase; }

ul.team-cap li {
  list-style: none;
  text-align: center;
  width: 33%;
  padding: 1.4em 0;
  border-right: 1px solid #eee;
  line-height: 1.6em;
  font-size: 0.8em; }

ul.team-cap li:last-of-type {
  border-right: none; }

span.value {
  font-size: 1.4em;
  font-weight: 800; }

div.tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0; }

table.roster {
  table-layout: fixed;
  width: 98%;
  margin: auto; }

table.roster th#pos,
table.roster th#dollar,
table.roster th#year {
  width: 14%; }

table.roster th {
  border-bottom: 1px solid black; }

table.roster td {
  white-space: nowrap;
  border-bottom: 1px solid #eee; }

table.roster td,
table.roster th {
  padding: 0.1em 1em 0.1em 1em; }

table.roster th#pos,
table.roster td.pos {
  text-align: center;
  padding-left: 0.5em; }

table.roster .pos, table.roster .player {
  text-align: left; }

table.roster .dollar, table.roster .year {
  text-align: right; }

table.roster td#player-total {
  text-align: right; }

table.roster td.total.dollar,
table.roster td.total.year {
  font-weight: 800; }

span.qb, span.rb, span.wr, span.te {
  display: inline-block;
  width: 2.5em;
  color: white;
  position: relative;
  top: -0.1em;
  padding: 0.1em 0.4em 0.1em 0.4em;
  margin-bottom: 0.1em;
  border-radius: 0.2em;
  font-size: 0.8em;
  line-height: 1.5em; }

span.qb {
  background-color: #e74c3c; }

span.rb {
  background-color: #3498db; }

span.wr {
  background-color: #27ae60; }

span.te {
  background-color: #f39c12; }

footer {
  width: 100%;
  text-align: center;
  padding: 1em 0; }

@media only screen and (min-width: 900px) {
  body {
    max-width: 900px; }

  section.split {
    width: 439px; }

  section.split#current {
    margin-right: 0.25em; }

  section.split#former {
    margin-left: 0.25em; } }
